@model FamilyToDo.Models.ToDoList

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>@Html.DisplayNameFor(model => model.Name)</h4>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
    </div>

    @if (Model.ToDos != null)
    {
    <div>
        <hr />
        <ul>
            @foreach (var todo in Model.ToDos)
            {
                <li>@todo.Title</li>
            }
        </ul>
    </div>
    }
    </body>
</html>
